.product-card-box {
  padding-top:20px;

  .product-title {
    text-align: center;
  }

  .seller-section {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;

    #rating {
      width: 50px;
    }

    .centering-content {
      display: flex;
      justify-content: center;
    }
  }

  .countdown-section {
    text-align: center;

    .timer {
      font-size: 22px;
    }
  }
}
.card-body {
  padding: 0px;
}
.card-footer {
  padding: 0px;
  margin-bottom: 10px;
}
.card {
  margin
  :5px;
}

.bid-box {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .white-text {
    //margin-right: 10px;
    font-size: 18px;
    //padding-top: 5px;
  }
  .button-box{
   padding-top:10px;
  }
}