.panel {
  margin: 180px 500px 1000px;
  border: 3px solid #2e6da4;

  .panelHeader {
    font-size: 20px;
    text-align: center;
  }

  .panelBody {
    height: 380px;
    background-color: #e5e2d0;
    
  }
}
