.product-details {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 30px;

  .image-box {
    width: 40%;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .product-content-informations {
    width: 58%;
    background-color: azure;
    display: block;

    .product-name {
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
    }

    .product-deadline {
      margin-top: 50px;
    }

    .bid-input {
      padding-top: 20px;

      .product-start-price {
        display: flex;
      }
      .input-group-append {
        display: block;
        .my-bid-btn {
         
        border-radius: 10px; 
        }
      }
  
      .input-group {
        width:25%;
      }
      .form-control {
        border-radius: 10px;
      }
    }

  }
}

.commentary-section {
  background-color: azure;
  padding-top: 30px;
  width: 100%;
  border-block-start: 1px solid rgb(146, 142, 142);
  margin-bottom: 30px;

  .input-comment {
    margin-bottom: 10px;
  }

}
