<div class="product-details" *ngIf="product">

  <div class="image-box">
    <div class="view overlay waves-light" mdbWavesEffect *ngIf="product.imageFile; else noImage">
      <mdb-card-img src={{product.imageFile}}></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <ng-template #noImage>
      <div class="view overlay waves-light" mdbWavesEffect>
        <mdb-card-img src="https://mdbootstrap.com/img/Photos/Others/food.jpg"></mdb-card-img>
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </ng-template>
  </div>

  <div class="product-content-informations container">

    <div class="product-name">
      <h1>{{product.name}}</h1>

      <div class="seller-section">
        <span>Seller: {{product.username}}</span>

        <div *ngIf="sellerDetails.rate">
          <div *ngIf="sellerDetails.rate != 0">R: {{sellerDetails.rate}}</div>
        </div>

        <a mdbBtn floating="true" size="sm" gradient="blue" (click)="basicModal.show()" mdbWavesEffect>
          <span>Rate </span>
          <mdb-icon fas icon="star"></mdb-icon>
        </a>
        <div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Your rate for {{sellerDetails.username}}</h4>
              </div>
              <div class="modal-body centering-content">
                <form class="example-form">
                  <span>Rate: </span>
                  <mat-form-field class="example-full-width" id="rating">
                    <input [formControl]="ratingFormControl" [ngModel]="inputRating" (ngModelChange)="onRatingChange($event)"
                      matInput type="number" min="1" max="10">
                    <mat-error *ngIf="ratingFormControl.hasError('min')">Min rate is <strong>1!</strong></mat-error>
                    <mat-error *ngIf="ratingFormControl.hasError('max')">Max rate is <strong>10!</strong></mat-error>
                  </mat-form-field>
                </form>

              </div>
              <div class="modal-footer centering-content">
                <button type="button" mdbBtn color="secondary" rounded="true" size="sm" class="waves-light" aria-label="Close"
                  (click)="basicModal.hide()" mdbWavesEffect>Close</button>
                <button type="button" mdbBtn color="primary" rounded="true" size="sm" class="relative waves-light"
                  (click)="basicModal.hide()" (click)="onSubmitRate()" [disabled]="disableSave" mdbWavesEffect>Save!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="product-deadline">
      <h5>Countdown</h5>
      <countdown-timer [end]="product.deadline"></countdown-timer>
    </div>


    <div class="bid-input">
      <h5>Bid now</h5>
      <mat-form-field class="example-full-width">
        <input [ngModel]="inputPrice" (ngModelChange)="onPriceChange($event)" placeholder="{{product.finalPrice}}"
          matInput type="number" [disabled]="disableInput">
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="buttonToggle" (click)="onSubmit()">Place bid</button>
      <button mat-flat-button class="quick-bid" (click)="onRefresh()">Refresh</button>
      <div class="product-start-price">
        <p>Start Price: </p>
        {{product.startPrice}}
      </div>
    </div>

    <div>
      <h5>Description</h5>
      {{product.description}}
    </div>

  </div>
</div>

<div class="commentary-section container">
  <div class="input-comment">
    <h5><strong>Write a comment:</strong></h5>
    <form class="example-form">
      <mat-form-field class="example-full-width col-12">
        <textarea [formControl]="inputDescriptionFormControl" [ngModel]="inputComment" (ngModelChange)="onCommentChange($event)"
          matInput>
      </textarea>
      </mat-form-field>
    </form>
    <button (click)="onSubmitComment()" mat-raised-button color="primary">Comment</button>
  </div>

  <div *ngFor="let comment of comments">
    <app-commentary [comment]="comment"></app-commentary>
  </div>

</div>