.my-products{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 20px;

  .filter-bar {
    width: 20%;
    background-color: azure;
  }

  .products-list {
    width: 78%;
    background-color: azure;
    display: flex;

  }
}
