.add-product-box {
  background-color: azure;
  padding-top:20px;

  .alert-info {
    display: flex;
    justify-content: center;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .mat-raised-button.mat-primary {
    background-color: #0c5460;
  }

  .fields {
    
    .date-time-picker {
      display: flex;
      
      .time-picker {
        display: flex;
        margin-left: 20px;
        justify-content: space-around;

        #hours {
          width: 50px;
        }
        #minutes {
          margin-left: 20px;
          width: 50px;
        }
      }
    }

    .upload-file {
      margin-bottom: 20px;
    }
  }
}