.product-details{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  padding-top: 20px;

  .image-box {
    width: 40%;
    background-color: azure;
  }

  .product-content-informations {
    width: 58%;
    background-color: azure;
    display: block;

    .add-product-box {
      background-color: azure;
      padding-top:20px;
    
      .alert-info {
        display: flex;
        justify-content: center;
      }
      
      .example-form {
        min-width: 150px;
        max-width: 500px;
        width: 100%;
      }
      
      .example-full-width {
        width: 100%;
      }
    
      .mat-raised-button.mat-primary {
        background-color: #0c5460;
      }
    }

  }
}
.date-time-picker {
  display: flex;
  
  .time-picker {
    display: flex;
    margin-left: 20px;
    justify-content: space-around;

    #hours {
      width: 50px;
    }
    #minutes {
      margin-left: 20px;
      width: 50px;
    }
  }
}

.commentary-section {
  background-color: azure;
  padding-top: 30px;
  width: 100%;
  border-block-start: 1px solid rgb(146, 142, 142);

  .input-comment {
    margin-bottom: 10px;
  }

}
