.product-card-box {
  padding-top:20px;

  .centering-content {
    display: flex;
    justify-content: center;
  }

  .countdown-section {
    text-align: center;

    .timer {
      font-size: 22px;
    }
  }
}
.card-body {
  padding: 0px;
}
.card-footer {
  padding: 0px;
  margin-bottom: 10px;
}
.card {
  margin
  :5px;
}
.white-text {
  text-align: center;
  
  &.quick-bid {
    border: 1px solid blue;
    padding:5px;
    background-color: black;
    border-radius: 8px;
  }
}